body{
	background-color: #d0d0d0;
}



/*==============================header section start======================*/
.main-header{
	width: 98%;
	margin: auto;
	background-color: #fff;
}


.top-header{
	background: #894aa3;
	padding:10px;
	max-width:100%;
}

.menu-left{ 
	font-size: 46px
}

 .menu-left p{
	font-size: 12px;
}

.menu  ul{
	float: right;
}
 .menu  ul li{
 	list-style: none;
  	text-transform: uppercase;
 	display: inline-block;
}

.menu  ul li a {
	text-decoration: none;
	letter-spacing: 1px;
	padding-left: 10px;
	font-size:12px;
	color:#666666;
}
/*===============================header section end======================*/
 
 /*==========================hero section start here=================================*/
.hero{
	width: 98%;
	margin: auto;
	background-color: #ebebea;
}
 .color-box{
	background-color: #ebebea;
	overflow: hidden;
}
.color-box p{
	font-size: 22px;
	color: #2b2b2b;
	padding: 20px;

}
.slider{
	overflow: hidden;
	clear: both;
}

/*===============================hero section end here ======================  */


 .card-area{
	width: 98%;
	margin: auto;
	background-color: white;
}

.photo-gallery-area{
	width: 98%;
	margin: auto;
	background-color: #ebebea;
}

/*===============================footer section here ======================  */

.footer-last{
	width: 98%;
	margin: auto;
	background-color: #444444;
	color: #d0d0d0;
	font-size: 12px;
}